node_modules
coverage
coverage.json
typechain-types

.env
.openzeppelin

# extras
logs
gas-reporter-logs


# Hardhat files
cache
artifacts

# Webstorm files
.idea

# ignore submodule repos
visualizations/

