node_modules
coverage
coverage.json
typechain-types

.env
.openzeppelin


# extras
logs
gas-reporter-logs


# Hardhat files
cache
artifacts

# Webstorm files
.idea

# yarn error log
yarn-error.log

## ignore submodule repos
visualizations-deferral/*

# ignore contract viusalization outputs
solidity-contract-diagrams
